<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="csrf-param" content="_csrf-frontend">
    <meta name="csrf-token"
          content="3FQkBUgJRm4pxHWQe0AQhfj3Nb5lW-wnSNo45oA-5xfobGxPfH1_LB7yE9gpOlPhgahT8goBgxMNiXS-sG7UcQ==">
    <title>СНТ Загорье</title>
    <!-- Favicons -->
    <link href="/favicon.ico" rel="icon">
    <!--    <link href="/apple-touch-icon.png" rel="apple-touch-icon">-->

    <meta name="keywords" content="СНТ Загорье сайт СНТ ОНТ ТСН общества">
    <meta name="description" content="Сайт СНТ Загорье">

    <link href="/css/all.min.css" rel="stylesheet">
    <link href="/css/material-icons.css" rel="stylesheet">
    <link href="/css/material-icons.min.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/common.css?v=1" rel="stylesheet">
</head>

<body>

<div id="load-bar-wrap">
    <div class="load-bar">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
</div>
<div class="b-wrap">

    <header id="header" class="b-header">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light b-header__navbar justify-content-end"><a href="/"
                                                                                                      class="navbar-brand mr-auto ">

                    <div class="title-mobile d-sm-flex d-lg-none mt-md-3">Загорье</div>
                </a>
                <div class="collapse navbar-collapse" id="main-menu">
                    <div class="b-header__collapse-inner">
                        <div class="b-header__top d-none d-lg-flex justify-content-end align-items-center">
                            <div class="b-header__title mr-auto"><a href="/">Загорье</a></div>

                            <div class="b-header__acc">
                                <div class="b-header__acc-title">Добро пожаловать!</div>
                                <div class="b-header__acc-name">Администратор</div>
                            </div>
                        </div>
                        <ul class="navbar-nav justify-content-end">
                            <li class="nav-item"><a class="nav-link  " href="https://sntzagorie.landorg.ru/news/list">Новости</a>
                            </li>
                            <li class="nav-item"><a class="nav-link  " href="https://sntzagorie.landorg.ru/voting/list">Голосования</a>
                            </li>
                            <li class="nav-item"><a class="nav-link  " href="https://sntzagorie.landorg.ru/poll/list">Опросы</a>
                            </li>
                            <li class="nav-item"><a class="nav-link  " href="https://sntzagorie.landorg.ru/order/list">Заявки</a>
                            </li>
                            <li class="nav-item"><a class="nav-link  "
                                                    href="https://sntzagorie.landorg.ru/document/list">Документы</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link   dropdown-toggle" href="" role="button" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">Информация</a>
                                <div class="dropdown-menu" aria-labelledby="hz"><a class="dropdown-item  "
                                                                                   href="https://sntzagorie.landorg.ru/info/list">Общая
                                        информация</a><a class="dropdown-item  "
                                                         href="https://sntzagorie.landorg.ru/gallery/list">Фотогалереи</a><a
                                            class="dropdown-item  "
                                            href="https://sntzagorie.landorg.ru/promo-news/list">Предложения и
                                        скидки</a></div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link   dropdown-toggle" href="" role="button" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">Общение</a>
                                <div class="dropdown-menu" aria-labelledby="hz"><a class="dropdown-item  "
                                                                                   href="https://sntzagorie.landorg.ru/forum/list">Форум</a><a
                                            class="dropdown-item  " href="https://sntzagorie.landorg.ru/board/list">Доска
                                        объявлений</a></div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link   dropdown-toggle" href="" role="button" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">Управление</a>
                                <div class="dropdown-menu" aria-labelledby="hz"><a class="dropdown-item  "
                                                                                   href="https://sntzagorie.landorg.ru/control/news/index">Новости</a><a
                                            class="dropdown-item  "
                                            href="https://sntzagorie.landorg.ru/control/voting/index">Голосования</a><a
                                            class="dropdown-item  "
                                            href="https://sntzagorie.landorg.ru/control/group-voting/index">Группы
                                        голосований</a><a class="dropdown-item  "
                                                          href="https://sntzagorie.landorg.ru/control/poll/index">Опросы</a><a
                                            class="dropdown-item  "
                                            href="https://sntzagorie.landorg.ru/control/forum/index">Форум</a><a
                                            class="dropdown-item  "
                                            href="https://sntzagorie.landorg.ru/control/order/index">Заявки</a><a
                                            class="dropdown-item  "
                                            href="https://sntzagorie.landorg.ru/control/operation/index">Платежи</a><a
                                            class="dropdown-item  "
                                            href="https://sntzagorie.landorg.ru/control/bill/index?BillSearch%5Btype%5D=bill">Счета</a><a
                                            class="dropdown-item  "
                                            href="https://sntzagorie.landorg.ru/control/bill/index?BillSearch%5Btype%5D=pay">Оплата</a><a
                                            class="dropdown-item  "
                                            href="https://sntzagorie.landorg.ru/control/document/index">Документы</a><a
                                            class="dropdown-item  "
                                            href="https://sntzagorie.landorg.ru/control/info/index">Информация</a><a
                                            class="dropdown-item  "
                                            href="https://sntzagorie.landorg.ru/control/gallery/index">Фотогалереи</a><a
                                            class="dropdown-item  "
                                            href="https://sntzagorie.landorg.ru/control/promo/index">Предложения и
                                        скидки</a><a class="dropdown-item  "
                                                     href="https://sntzagorie.landorg.ru/control/promo-landorg/index">Предложения
                                        от LandOrg</a><a class="dropdown-item  "
                                                         href="https://sntzagorie.landorg.ru/control/meter/index">Типы
                                        счетчиков</a><a class="dropdown-item  "
                                                        href="https://sntzagorie.landorg.ru/control/counters/list">Показания
                                        счетчиков</a><a class="dropdown-item  "
                                                        href="https://sntzagorie.landorg.ru/control/board/index">Объявления</a><a
                                            class="dropdown-item  "
                                            href="https://sntzagorie.landorg.ru/control/checkpoint/list">Пропуска</a><a
                                            class="dropdown-item  "
                                            href="https://sntzagorie.landorg.ru/control/user/index"><i
                                                class="check-user-needs-to-activate"
                                                data-url="/users/get-count-requests-activate"
                                                data-class-warning="fas fa-exclamation-triangle text-warning"></i>
                                        Пользователи</a><a class="dropdown-item  "
                                                           href="https://sntzagorie.landorg.ru/control/profile/view"><i
                                                class="check-user-balance"
                                                data-class-warning="fas fa-exclamation-triangle text-warning"></i> Мой
                                        профиль</a><a class="dropdown-item  "
                                                      href="https://sntzagorie.landorg.ru/control/profile/land">Профиль
                                        товарищества</a><a class="dropdown-item  "
                                                           href="https://sntzagorie.landorg.ru/control/settings/modules">Настройки
                                        модулей</a><a class="dropdown-item  "
                                                      href="https://sntzagorie.landorg.ru/control/customize/settings">Настройки
                                        сайта</a><a class="dropdown-item  "
                                                    href="https://sntzagorie.landorg.ru/control/landorg-news/index">Новости
                                        LandOrg</a><a class="dropdown-item  "
                                                      href="https://sntzagorie.landorg.ru/control/document-template/index">Шаблоны
                                        документов</a><a class="dropdown-item  "
                                                         href="https://sntzagorie.landorg.ru/control/service/index"><i
                                                class="fas fa-exclamation-triangle text-warning"></i> Оплата сервиса</a><a
                                            class="dropdown-item  "
                                            href="https://sntzagorie.landorg.ru/control/export/index">Выгрузка</a><a
                                            class="dropdown-item  "
                                            href="https://sntzagorie.landorg.ru/control/own/votes">Мои голосования</a><a
                                            class="dropdown-item  "
                                            href="https://sntzagorie.landorg.ru/control/own/ideas">Мои ответы</a><a
                                            class="dropdown-item  "
                                            href="https://sntzagorie.landorg.ru/control/own/talks">Мои сообщения</a><a
                                            class="dropdown-item  "
                                            href="https://sntzagorie.landorg.ru/control/counters/list-my">Мои
                                        счетчики</a><a class="dropdown-item  "
                                                       href="https://sntzagorie.landorg.ru/control/own/board">Мои
                                        объявления</a><a class="dropdown-item  "
                                                         href="https://sntzagorie.landorg.ru/control/checkpoint/list-my">Мои
                                        пропуска</a><a class="dropdown-item  "
                                                       href="https://sntzagorie.landorg.ru/control/support/index">Техподдержка</a>
                                </div>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="/site/logout" data-method="post">Выход</a>
                            </li>
                        </ul>
                    </div>
                </div><!--.collapse -->

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu"
                        aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
        </div>
    </header><!-- #header -->




    <div class="b-page">
        <div class="container b-page__container">

            <img src="https://sntzagorie.landorg.ru/themes/land/img/icons/garden.svg" alt=""
                 class="tree tree_left d-none d-lg-block">
            <img src="https://sntzagorie.landorg.ru/themes/land/img/icons/garden.svg" alt=""
                 class="tree tree_right d-none d-lg-block">

            <div class="row">

                <div class="col-lg-12 page-content">
                    <div class="page-block">
                        <div class="page-block__header">
                            <div class="page-block__title">Новости</div>
                            <a href="/news/list" class="page-block__more-link">
                                <span>Все новости</span>
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        </div>
                        <div class="row">

                            <div class="col-md-6 mb-3">
                                <a href="https://sntzagorie.landorg.ru/news/view/4724" class="news-item"><img
                                            src="https://sntzagorie.landorg.ru/files/images/001-site.jpg"
                                            alt="Открытие сайта!" class="news-item__img">
                                    <div class="news-item__body">
                                        <div class="news-item__title">Открытие сайта!</div>
                                        <div class="news-item__text">Добро пожаловать на наш сайт! На сайте будет
                                            публиковаться актуальная информация о жизни и деятельности нашего
                                            товарищес...
                                        </div>
                                        <div class="text-muted"></div>
                                    </div>
                                    <div class="news-item__date">19.02.2023</div>
                                </a>
                            </div>

                            <div class="col-md-6 mb-3">
                                <a href="https://sntzagorie.landorg.ru/news/view/4723" class="news-item"><img
                                            src="https://sntzagorie.landorg.ru/files/images/002-lead.jpg"
                                            alt="Регистрация жителей товарищества на сайте" class="news-item__img">
                                    <div class="news-item__body">
                                        <div class="news-item__title">Регистрация жителей товарищества на сайте</div>
                                        <div class="news-item__text">Всем жителям необходимо зарегистрироваться на нашем
                                            сайте.Таким образом, ответственные лица смогут оповещать вас обо все...
                                        </div>
                                        <div class="text-muted"></div>
                                    </div>
                                    <div class="news-item__date">19.02.2023</div>
                                </a>
                            </div>

                            <div class="col-md-6 mb-3">
                                <a href="https://sntzagorie.landorg.ru/news/view/4722" class="news-item"><img
                                            src="https://sntzagorie.landorg.ru/files/images/004-network.jpg"
                                            alt="Возможности сайта" class="news-item__img">
                                    <div class="news-item__body">
                                        <div class="news-item__title">Возможности сайта</div>
                                        <div class="news-item__text">Уважаемые жители товарищества!</div>
                                        <div class="text-muted"></div>
                                    </div>
                                    <div class="news-item__date">19.02.2023</div>
                                </a>
                            </div>

                            <div class="col-md-6 mb-3">
                                <a href="https://sntzagorie.landorg.ru/news/view/4721" class="news-item"><img
                                            src="https://sntzagorie.landorg.ru/files/images/003-document.jpg"
                                            alt="Документы на сайте" class="news-item__img">
                                    <div class="news-item__body">
                                        <div class="news-item__title">Документы на сайте</div>
                                        <div class="news-item__text">Обращаем ваше внимание на то, что все документы,
                                            опубликованные на сайте, размещены в виде ссылок в нашем облачном храни...
                                        </div>
                                        <div class="text-muted"></div>
                                    </div>
                                    <div class="news-item__date">19.02.2023</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="page-block">
                        <div class="page-block__header">
                            <div class="page-block__title">Опросы</div>
                            <a href="/poll/list" class="page-block__more-link">
                                <span>Все опросы</span>
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        </div>

                        <div class="page-block__items mb-1">
                            <a href="https://sntzagorie.landorg.ru/poll/view/734" class="page-block__item">
                                <div class="page-block__item-header">
                                    <div class="page-block__item-title">Что нужно для развития нашего товарищества?
                                    </div>
                                    <div class="page-block__item-state">Будем признательны за ваши конструктивные идеи и
                                        предложения по поводу развития нашего товарищества! Отставляйте ваши со...
                                    </div>
                                </div>
                                <div class="page-block__item-body">
                                    <div class="page-block__item-date">
                                        <div class="from">Публичный</div>
                                        <div class="to">19.02.2023</div>
                                    </div>
                                    <div class="page-block__item-right">Состояние: Начат</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="page-block">
                        <div class="page-block__header">
                            <div class="page-block__title">Документы</div>
                            <a href="/document/list" class="page-block__more-link">
                                <span>Все документы</span>
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        </div>
                        <div class="row">

                            <div class="col-md-6 mb-3">
                                <a href="https://sntzagorie.landorg.ru/document/view/3100" class="news-item"><img
                                            src="https://sntzagorie.landorg.ru/themes/land/img/icons/doc-file.svg"
                                            alt="document" class="news-item__img">
                                    <div class="news-item__body">
                                        <div class="news-item__title">217-ФЗ. Текст документа</div>
                                        <div class="news-item__text">Текст Федерального закона "О ведении гражданами
                                            садоводства и огородничества для собственных нужд и о внесении изменений...
                                        </div>
                                        <div class="text-muted"> Публичный</div>
                                    </div>
                                    <div class="news-item__date">19.02.2023</div>
                                </a>
                            </div>

                            <div class="col-md-6 mb-3">
                                <a href="https://sntzagorie.landorg.ru/document/view/3099" class="news-item"><img
                                            src="https://sntzagorie.landorg.ru/themes/land/img/icons/doc-file.svg"
                                            alt="document" class="news-item__img">
                                    <div class="news-item__body">
                                        <div class="news-item__title">Официальные разъяснения Минэконо...</div>
                                        <div class="news-item__text">Минэкономразвития России выпустил сборник ответов
                                            на наиболее распространенные вопросы применения Федерального закона №2...
                                        </div>
                                        <div class="text-muted"> Публичный</div>
                                    </div>
                                    <div class="news-item__date">19.02.2023</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--
                <div class="col-lg-3 d-none d-lg-block" id="sidebar-block">
                    <div class="sidebar">
                        <div class="sidebar__section">
                            <div class="sidebar__title">Управление</div>
                            <nav class="sidebar__nav">
                                <a class=" help-control"
                                   href="https://sntzagorie.landorg.ru/control/news/index">Новости</a><a class=""
                                                                                                         href="https://sntzagorie.landorg.ru/control/voting/index">Голосования</a><a
                                        class="" href="https://sntzagorie.landorg.ru/control/group-voting/index">Группы
                                    голосований</a><a class="" href="https://sntzagorie.landorg.ru/control/poll/index">Опросы</a><a
                                        class="" href="https://sntzagorie.landorg.ru/control/forum/index">Форум</a><a
                                        class="" href="https://sntzagorie.landorg.ru/control/order/index">Заявки</a><a
                                        class=""
                                        href="https://sntzagorie.landorg.ru/control/operation/index">Платежи</a><a
                                        class=""
                                        href="https://sntzagorie.landorg.ru/control/bill/index?BillSearch%5Btype%5D=bill">Счета</a><a
                                        class=""
                                        href="https://sntzagorie.landorg.ru/control/bill/index?BillSearch%5Btype%5D=pay">Оплата</a><a
                                        class=""
                                        href="https://sntzagorie.landorg.ru/control/document/index">Документы</a><a
                                        class=""
                                        href="https://sntzagorie.landorg.ru/control/info/index">Информация</a><a
                                        class=""
                                        href="https://sntzagorie.landorg.ru/control/gallery/index">Фотогалереи</a><a
                                        class="" href="https://sntzagorie.landorg.ru/control/promo/index">Предложения и
                                    скидки</a><a class=""
                                                 href="https://sntzagorie.landorg.ru/control/promo-landorg/index">Предложения
                                    от LandOrg</a><a class="" href="https://sntzagorie.landorg.ru/control/meter/index">Типы
                                    счетчиков</a><a class="" href="https://sntzagorie.landorg.ru/control/counters/list">Показания
                                    счетчиков</a><a class="" href="https://sntzagorie.landorg.ru/control/board/index">Объявления</a><a
                                        class=""
                                        href="https://sntzagorie.landorg.ru/control/checkpoint/list">Пропуска</a><a
                                        class="" href="https://sntzagorie.landorg.ru/control/user/index"><i
                                            class="check-user-needs-to-activate"
                                            data-url="/users/get-count-requests-activate"
                                            data-class-warning="fas fa-exclamation-triangle text-warning"></i>
                                    Пользователи</a><a class=""
                                                       href="https://sntzagorie.landorg.ru/control/profile/view"><i
                                            class="check-user-balance" data-url="/bill/get-user-balance"
                                            data-class-warning="fas fa-exclamation-triangle text-warning"></i> Мой
                                    профиль</a><a class="" href="https://sntzagorie.landorg.ru/control/profile/land">Профиль
                                    товарищества</a><a class=""
                                                       href="https://sntzagorie.landorg.ru/control/settings/modules">Настройки
                                    модулей</a><a class=""
                                                  href="https://sntzagorie.landorg.ru/control/customize/settings">Настройки
                                    сайта</a><a class=""
                                                href="https://sntzagorie.landorg.ru/control/landorg-news/index">Новости
                                    LandOrg</a><a class=""
                                                  href="https://sntzagorie.landorg.ru/control/document-template/index">Шаблоны
                                    документов</a><a class=""
                                                     href="https://sntzagorie.landorg.ru/control/service/index"><i
                                            class="fas fa-exclamation-triangle text-warning"></i> Оплата сервиса</a><a
                                        class="" href="https://sntzagorie.landorg.ru/control/export/index">Выгрузка</a>
                            </nav>
                        </div>
                        <div class="mt-3"></div>
                        <div class="sidebar__section">
                            <div class="sidebar__title">Активность</div>
                            <nav class="sidebar__nav">
                                <a class="" href="https://sntzagorie.landorg.ru/control/own/votes">Мои голосования</a><a
                                        class="" href="https://sntzagorie.landorg.ru/control/own/ideas">Мои ответы</a><a
                                        class="" href="https://sntzagorie.landorg.ru/control/own/talks">Мои
                                    сообщения</a><a class=""
                                                    href="https://sntzagorie.landorg.ru/control/counters/list-my">Мои
                                    счетчики</a><a class="" href="https://sntzagorie.landorg.ru/control/own/board">Мои
                                    объявления</a><a class=""
                                                     href="https://sntzagorie.landorg.ru/control/checkpoint/list-my">Мои
                                    пропуска</a><a class="" href="https://sntzagorie.landorg.ru/control/support/index">Техподдержка</a>
                            </nav>
                        </div>
                    </div>
                </div>
                -->
            </div>
        </div>
    </div>





    <footer class="b-footer" id="footer">
        <div class="container">

            <div class="row">

                <div class="col-lg-4 col-xl-5 text-center text-lg-left b-footer__info">
                    <a href="/info/main">СНТ Загорье</a><br>ОГРН / ID LO-SNTZAGORIE<br></div>

                <div class="col-lg-5 col-xl-4 mt-3 mb-3 mt-lg-0 mb-lg-0 b-footer__logo text-center text-lg-right">
                    <div class="row">
                        <div class="col-md-6 d-flex flex-wrap justify-content-center align-items-end">
                            <a class="p-1" href="https://apps.apple.com/us/app/id1544970647" rel="nofollow noopener"
                               target="_blank"><img src="https://sntzagorie.landorg.ru/images/app-store-badge.svg" alt="Доступно в AppStore"
                                                    class="store-logo"></a></a>                            </div>
                        <div class="col-md-6">
                            <a href="https://landorg.ru" class="b-footer__logo-link p-1">
                                <img src="https://sntzagorie.landorg.ru/images/logo-white.svg" alt="LandOrg.ru"
                                     class="b-footer__logo-img">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-xl-3 text-center text-lg-left">
                    <div class="row">
                        <div class="col-lg-12 col-sm-6">
                            <div class="b-footer__contact text-lg-left">
                                <div>Поддержка</div>
                                <a href="mailto:support@landorg.ru">support@landorg.ru</a></div>
                        </div>

                        <div class="col-lg-12 col-sm-6">
                            <div class="b-footer__contact text-lg-left">
                                <div>Контакты</div>
                                <a href="mailto:info@landorg.ru">info@landorg.ru</a></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </footer>

    <a href="#" class="back-to-top"><span class="d-flex"><i class="mx-auto my-auto fa fa-chevron-up"></i></span></a>
    <!-- Preloader -->
    <div id="preloader">
        <div class="loader" id="loader-1"></div>
    </div>
    <!-- End Preloader -->

</div>

<!-- Modal -->
<div class="modal fade" id="modal-dialog" tabindex="-1" role="dialog" aria-labelledby="modal-dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ajax-container d-flex">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link text-dark" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/yii.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/main.js?v=1612"></script>
<script src="/js/common.js?v=0102"></script>
<script src="/js/app.js?v=0102"></script>
<div id="cookie-notification">
    <p>Hаш сайт использует cookie файлы. Продолжая им пользоваться,
        вы соглашаетесь на обработку персональных данных в соответствии с
        <a href="https://xxx.yy/pp.html">политикой конфиденциальности</a>.</p>
    <button class="btn btn-outline-dark btn-sm cookie-accept">Принять и закрыть</button>
</div>

</body>
</html>


