<footer class="b-footer" id="footer">
    <div class="container">

        <div class="row">

            <div class="col-lg-4 col-xl-5 text-center text-lg-left b-footer__info">
                <a href="/info/main">ТСН СНТ Загорье</a><br>ОГРН<br>
            </div>

            <div class="col-lg-4 col-xl-3 text-center text-lg-left">
                <div class="row">
                    <div class="col-lg-12 col-sm-6">
                        <div class="b-footer__contact text-lg-left">
                            <div>Поддержка</div>
                            <a href="mailto:support@sntzagorie.ru">support@sntzagorie.ru</a>
                        </div>


                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-xl-3 text-center text-lg-left">
                <div class="row">
                    <div class="col-lg-12 col-sm-6">
                        <div class="b-footer__contact text-lg-left">
                            <div>Контакты</div>
                            <a href="mailto:mail@sntzagorie.ru">mail@sntzagorie.ru</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>

<a href="#" class="back-to-top"><span class="d-flex"><i class="mx-auto my-auto fa fa-chevron-up"></i></span></a>
<!-- Preloader -->
<div id="preloader">
    <div class="loader" id="loader-1"></div>
</div>
<!-- End Preloader -->

</div>

<!-- Modal -->
<div class="modal fade" id="modal-dialog" tabindex="-1" role="dialog" aria-labelledby="modal-dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ajax-container d-flex">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link text-dark" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/yii.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/main.js?v=1612"></script>
<script src="/js/common.js?v=0102"></script>
<script src="/js/app.js?v=0102"></script>
<div id="cookie-notification">
    <p>Hаш сайт использует cookie файлы. Продолжая им пользоваться,
        вы соглашаетесь на обработку персональных данных в соответствии с
        <a href="https://xxx.yy/pp.html">политикой конфиденциальности</a>.</p>
    <button class="btn btn-outline-dark btn-sm cookie-accept">Принять и закрыть</button>
</div>

</body>
</html>
