<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="csrf-param" content="_csrf-frontend">
    <meta name="csrf-token"
          content="3FQkBUgJRm4pxHWQe0AQhfj3Nb5lW-wnSNo45oA-5xfobGxPfH1_LB7yE9gpOlPhgahT8goBgxMNiXS-sG7UcQ==">
    <title>СНТ Загорье</title>
    <!-- Favicons -->
    <link href="/favicon.ico" rel="icon">
    <!--    <link href="/apple-touch-icon.png" rel="apple-touch-icon">-->

    <meta name="keywords" content="СНТ Загорье сайт СНТ ОНТ ТСН общества">
    <meta name="description" content="Сайт СНТ Загорье">

    <link href="/css/all.min.css" rel="stylesheet">
    <link href="/css/material-icons.css" rel="stylesheet">
    <link href="/css/material-icons.min.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/common.css?v=1" rel="stylesheet">
</head>

<body>

<div id="load-bar-wrap">
    <div class="load-bar">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
</div>
<div class="b-wrap">

    <header id="header" class="b-header">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light b-header__navbar justify-content-end">
                <a href="/" class="navbar-brand mr-auto ">
                    <div class="title-mobile d-sm-flex d-lg-none mt-md-3">Загорье (mobile)</div>
                </a>
                <div class="collapse navbar-collapse" id="main-menu">
                    <div class="b-header__collapse-inner">
                        <div class="b-header__top d-none d-lg-flex justify-content-end align-items-center">
                            <div class="b-header__title mr-auto"><a href="/">Загорье</a></div>

                            <div class="b-header__acc">
                                <div class="b-header__acc-title">Добро пожаловать!</div>
                                <div class="b-header__acc-name">Администратор</div>
                            </div>
                        </div>
                        <ul class="navbar-nav justify-content-end">
                            <li class="nav-item"><a class="nav-link  " href="#">Новости</a>
                            </li>
                            <li class="nav-item"><a class="nav-link  " href="#">Голосования</a>
                            </li>
                            <li class="nav-item"><a class="nav-link  " href="#">Опросы</a>
                            </li>
                            <li class="nav-item"><a class="nav-link  " href="#">Заявки</a>
                            </li>
                            <li class="nav-item"><a class="nav-link  "
                                                    href="#">Документы</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="" role="button" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">Информация</a>

                                <div class="dropdown-menu" aria-labelledby="hz">
                                    <a class="dropdown-item" href="#">Общая информация</a>

                                    <a class="dropdown-item" href="#">Фотогалереи</a>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link   dropdown-toggle" href="" role="button" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">Управление</a>
                                <div class="dropdown-menu" aria-labelledby="hz">
                                    <a class="dropdown-item  "
                                                                                   href="#">Новости</a>

                                    <a
                                            class="dropdown-item  "
                                            href="#">Голосования</a>

                                    <a
                                            class="dropdown-item  "
                                            href="#">Группы
                                        голосований</a><a class="dropdown-item  "
                                                          href="#">Опросы</a>

                                    <a
                                            class="dropdown-item  "
                                            href="#">Форум</a>

                                    <a
                                            class="dropdown-item  "
                                            href="#">Заявки</a>

                                    <a
                                            class="dropdown-item  "
                                            href="#">Платежи</a>

                                    <a
                                            class="dropdown-item  "
                                            href="#">Счета</a>

                                    <a
                                            class="dropdown-item  "
                                            href="#">Оплата</a>

                                    <a
                                            class="dropdown-item  "
                                            href="#">Документы</a>

                                    <a
                                            class="dropdown-item  "
                                            href="#">Информация</a>

                                    <a class="dropdown-item" href="#">Типы счетчиков</a>

                                    <a class="dropdown-item" href="#">Показания счетчиков</a>

                                    <a class="dropdown-item" href="#">Объявления</a>

                                    <a class="dropdown-item"
                                            href="#">Пропуска</a>

                                    <a class="dropdown-item"
                                            href="#"><i
                                                class="check-user-needs-to-activate"
                                                data-url=""
                                                data-class-warning="fas fa-exclamation-triangle text-warning"></i>
                                        Пользователи
                                    </a>

                                    <a class="dropdown-item" href="#">Профиль товарищества</a>

                                    <a class="dropdown-item" href="#">Новости</a>

                                    <a class="dropdown-item" href="#">Выгрузка</a>

                                    <a class="dropdown-item" href="#">Мои голосования</a>

                                    <a class="dropdown-item" href="#">Мои ответы</a>

                                    <a class="dropdown-item" href="#">Мои сообщения</a>

                                    <a class="dropdown-item" href="#">Мои счетчики</a>

                                    <a class="dropdown-item" href="#">Мои объявления</a>

                                    <a class="dropdown-item" href="#">Мои пропуска</a>

                                    <a class="dropdown-item" href="#">Техподдержка</a>

                                </div>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#" data-method="post">Вход</a>

<!--                            <li class="nav-item"><a class="nav-link" href="/site/logout" data-method="post">Выход</a>-->
                            </li>
                        </ul>
                    </div>
                </div><!--.collapse -->

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu"
                        aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
        </div>
    </header><!-- #header -->
