<div class="b-page">
    <div class="container b-page__container" style__="border: 2px solid red;">

<!--        <img src="/images/svg/garden.svg" alt=""-->
<!--             class="tree tree_left d-none d-lg-block">-->
<!--        <img src="/images/svg/garden.svg" alt="pic"-->
<!--             class="tree tree_right d-none d-lg-block">-->

        <div class="row">

            <div class="col-lg-12 page-content">
                <div class="page-block">
                    <div class="page-block__header">
                        <div class="page-block__title">Новости</div>
<!--                        <a href="#" class="page-block__more-link">-->
<!--                            <span>Все новости</span>-->
<!--                            <i class="fas fa-chevron-right"></i>-->
<!--                        </a>-->
                    </div>
                    <div class="row">

                        <div class="col-md-6 mb-3">
                            <a href="#" class="news-item"><img
                                        src="/images/001-site.jpg"
                                        alt="Открытие сайта!" class="news-item__img">
                                <div class="news-item__body">
                                    <div class="news-item__title">Открытие сайта!</div>
                                    <div class="news-item__text">Добро пожаловать на наш сайт! На сайте будет
                                        публиковаться актуальная информация о жизни и деятельности нашего
                                        товарищества.
                                    </div>
                                    <div class="text-muted"></div>
                                </div>
                                <div class="news-item__date">19.02.2023</div>
                            </a>
                        </div>

                        <div class="col-md-6 mb-3">
                            <a href="#" class="news-item"><img
                                        src="images/002-lead.jpg"
                                        alt="Регистрация жителей товарищества на сайте" class="news-item__img">
                                <div class="news-item__body">
                                    <div class="news-item__title">Регистрация жителей товарищества на сайте</div>
                                    <div class="news-item__text">Всем жителям необходимо зарегистрироваться на нашем
                                        сайте.Таким образом, ответственные лица смогут оповещать вас обо всем.
                                    </div>
                                    <div class="text-muted"></div>
                                </div>
                                <div class="news-item__date">19.02.2023</div>
                            </a>
                        </div>

                        <div class="col-md-6 mb-3">
                            <a href="#" class="news-item"><img
                                        src="/images/004-network.jpg"
                                        alt="Возможности сайта" class="news-item__img">
                                <div class="news-item__body">
                                    <div class="news-item__title">Возможности сайта</div>
                                    <div class="news-item__text">
                                        Уважаемые жители товарищества!
                                        Наш сайт является многофункциональным и надежным инструментом для управления деятельностью в рамках требований 217-ФЗ.
                                        Мы можем проводить протоколируемые онлайн голосования, проводить опросы, собирать мнения и предложения.
                                    </div>
                                    <div class="text-muted"></div>
                                </div>
                                <div class="news-item__date">19.02.2023</div>
                            </a>
                        </div>

                        <div class="col-md-6 mb-3">
                            <a href="#" class="news-item"><img
                                        src="/images/003-document.jpg"
                                        alt="Документы на сайте" class="news-item__img">
                                <div class="news-item__body">
                                    <div class="news-item__title">Документы на сайте</div>
                                    <div class="news-item__text">Обращаем ваше внимание на то, что все документы,
                                        опубликованные на сайте, размещены в виде ссылок в нашем облачном хранилище.
                                    </div>
                                    <div class="text-muted"></div>
                                </div>
<!--                                <div class="news-item__date">19.02.2023</div>-->
                            </a>
                        </div>
                    </div>
                </div>
                <div class="page-block">
                    <div class="page-block__header">
                        <div class="page-block__title">Опросы</div>
<!--                        <a href="#" class="page-block__more-link">-->
<!--                            <span>Все опросы</span>-->
<!--                            <i class="fas fa-chevron-right"></i>-->
<!--                        </a>-->
                    </div>

                    <div class="page-block__items mb-1">
                        <a href="#" class="page-block__item">
                            <div class="page-block__item-header">
                                <div class="page-block__item-title">Что нужно для развития нашего товарищества?
                                </div>
                                <div class="page-block__item-state">Будем признательны за ваши конструктивные идеи и
                                    предложения по поводу развития нашего товарищества! Отставляйте ваши пожелания.
                                </div>
                            </div>
                            <div class="page-block__item-body">
                                <div class="page-block__item-date">
                                    <div class="from">Публичный</div>
                                    <div class="to">19.02.2023</div>
                                </div>
                                <div class="page-block__item-right">Состояние: Начат</div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="page-block">
                    <div class="page-block__header">
                        <div class="page-block__title">Документы</div>
<!--                        <a href="#" class="page-block__more-link">-->
<!--                            <span>Все документы</span>-->
<!--                            <i class="fas fa-chevron-right"></i>-->
<!--                        </a>-->
                    </div>
                    <div class="row">

                        <div class="col-md-6 mb-3">
                            <a href="#" class="news-item"><img
                                        src="/images/svg/doc-file-2.svg"
                                        alt="document" class="news-item__img">
                                <div class="news-item__body">
                                    <div class="news-item__title">217-ФЗ. Текст документа</div>
                                    <div class="news-item__text">Текст Федерального закона "О ведении гражданами
                                        садоводства и огородничества для собственных нужд и о внесении изменений...
                                    </div>
                                    <div class="text-muted"> Публичный</div>
                                </div>
                                <div class="news-item__date">19.02.2023</div>
                            </a>
                        </div>

                        <div class="col-md-6 mb-3">
                            <a href="#" class="news-item"><img
                                        src="/images/svg/doc-file-2.svg"
                                        alt="document" class="news-item__img">
                                <div class="news-item__body">
                                    <div class="news-item__title">Официальные разъяснения Минэконо...</div>
                                    <div class="news-item__text">Минэкономразвития России выпустил сборник ответов
                                        на наиболее распространенные вопросы применения Федерального закона №2...
                                    </div>
                                    <div class="text-muted"> Публичный</div>
                                </div>
<!--                                <div class="news-item__date">19.02.2023</div>-->
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


