<style>

</style>

<section class="u-clearfix u-palette-4-base u-section-7 section-9" id="carousel_8e17">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">

                    <div class="u-container-style u-layout-cell u-size-50 u-layout-cell-1">
                        <div class="u-container-layout u-container-layout-1">
                            <h2 class="u-text u-text-2">Контакты</h2>

                            <p>Товарищество Собственников Недвижимости</p>

                            <p>(Садоводческое Некоммерческое Товарищество) «Загорье»</p>

                            <p>140713, Московская область, г. Шатура, мкр. Керва.</p>

                            <p>тел. +7 (496) 457-25-60</p>

                            <p>e-mail: mail@sntzagorie.ru</p>
                        </div>
                    </div>

                    <div class="u-container-style u-layout-cell u-size-50 u-layout-cell-1">
                        <div class="u-container-layout u-container-layout-1">
                            <h2>Банковские реквизиты</h2>

                            <p>инн 5049005295</p>

                            <p>кпп 504901001</p>

                            <p>р/с 40703810400000001086</p>

                            <p>бик 044525411</p>

                            <p>к/с 30101810145250000411</p>

                            <p>Банк ФИЛИАЛ "ЦЕНТРАЛЬНЫЙ" БАНКА ВТБ (ПАО)</p>

                            <span>Для зачисления платежей обязательно указывать номер участка и наименование платежа.</span>
                        </div>
                    </div>

                    <div class="u-container-style u-layout-cell u-size-50 u-layout-cell-1">
                        <div class="u-container-layout u-container-layout-1">

                            <h2>Документы</h2>

                            <p><a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover"
                                  href="http://sntzagorie.ru/docs/inn.pdf" target="_blank"><img style="width: 64px; vertical-align: middle;"
                                                                                                src="/img/pdf-pic.png"
                                                                                                alt="фото"> ЕГРЮЛ</a>
                            </p>

                            <p><a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover"
                                  href="http://sntzagorie.ru/docs/inn.pdf" target="_blank"><img style="width: 64px; vertical-align: middle;"
                                                                                                src="/img/pdf-pic.png"
                                                                                                alt="фото"> ИНН</a>
                            </p>


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

