<section class="u-clearfix u-palette-4-base u-section-7" id="carousel_8e17">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                        <div class="u-container-layout u-container-layout-1">
                            <h5 class="u-custom-font u-font-montserrat u-text u-text-default u-text-1">about us</h5>
                            <h2 class="u-text u-text-2"> Working with a reputable travel agent takes the stress out of
                                travel</h2>
                            <h4 class="u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-3"> Working
                                with a reputable travel agent takes the stress out of travel</h4>
                        </div>
                    </div>
                    <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                        <div class="u-container-layout u-container-layout-2">
                            <p class="u-text u-text-default u-text-4"> Everything that can be necessary to create and
                                manage new projects (startups) in modern conditions. From development of concept,
                                business plan and project management plan, to marketing strategy and tactics, as well as
                                the system of customer attraction via the Internet and sales system.</p>
                            <div class="u-expanded-width u-list u-list-1">
                                <div class="u-repeater u-repeater-1">
                                    <div class="u-align-center u-container-style u-list-item u-repeater-item">
                                        <div class="u-container-layout u-similar-container u-container-layout-3">
                                            <h3 class="u-text u-text-5" data-animation-name="counter"
                                                data-animation-event="scroll" data-animation-duration="3000">50%</h3>
                                            <p class="u-text u-text-6">Sample text. Click to select the text box. Click
                                                again or double click to start editing the text.</p>
                                        </div>
                                    </div>
                                    <div class="u-align-center u-container-style u-list-item u-repeater-item">
                                        <div class="u-container-layout u-similar-container u-container-layout-4">
                                            <h3 class="u-text u-text-7" data-animation-name="counter"
                                                data-animation-event="scroll" data-animation-duration="3000">99%</h3>
                                            <p class="u-text u-text-8">Sample text. Click to select the text box. Click
                                                again or double click to start editing the text.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
