<section class="u-align-center u-clearfix u-palette-4-base u-section-2 section-2" id="carousel_be38">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h2 class="u-text u-text-default u-text-1 h2" data-animation-name="customAnimationIn" data-animation-duration="750" data-animation-delay="500">Доска объявлений</h2>

        <div class="u-blog u-expanded-width u-blog-1">
            <div class="u-repeater u-repeater-1">
                <div class="u-align-left u-blog-post u-container-style u-radius-15 u-repeater-item u-shape-round u-video-cover u-white u-repeater-item-1">
                    <div class="u-container-layout u-similar-container u-valign-top-sm u-valign-top-xs u-container-layout-1">
                        <a class="u-post-header-link" href="blog/пост-5.html"><!--blog_post_image-->
                            <img alt="" class="u-blog-control u-expanded-width-xs u-image u-image-default u-image-1"
                                 src="images/8ad73f3c.jpeg" data-image-width="567" data-image-height="696"
                                 data-animation-name="customAnimationIn" data-animation-duration="750"
                                 data-animation-delay="500"><!--/blog_post_image-->
                        </a><!--blog_post_header-->
                        <h4 class="u-blog-control u-text u-text-body-color u-text-2">
                            <a class="u-post-header-link h2-link" href="blog/пост-5.html">
                                Продается дом
                            </a>
                        </h4><!--/blog_post_header--><!--blog_post_metadata-->

                        <h3 class="u-text u-text-7" data-animation-name="counter"
                            data-animation-event="scroll" data-animation-duration="1000">27000 руб.</h3>

                        <div class="u-blog-control u-metadata u-text-grey-30 u-metadata-1">
                            <!--blog_post_metadata_date-->
                            <p class="u-meta-date u-meta-icon"><!--blog_post_metadata_date_content-->01.02.2023
                                <!--/blog_post_metadata_date_content--></p><!--/blog_post_metadata_date-->
                            <!--blog_post_metadata_comments-->
                            <span class="u-meta-comments u-meta-icon">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A assumenda autem consectetur culpa debitis distinctio fugit illo ipsa ipsam itaque maiores, minima modi molestiae odio pariatur praesentium quas, quidem rem rerum voluptate. Molestiae, nesciunt, ratione!

                                </span>
                        </div><!--/blog_post_metadata-->
                    </div>
                </div><!--/blog_post--><!--blog_post-->
                <div class="u-align-left u-blog-post u-container-style u-radius-15 u-repeater-item u-shape-round u-video-cover u-white u-repeater-item-2">
                    <div class="u-container-layout u-similar-container u-valign-top-sm u-valign-top-xs u-container-layout-2">
                        <a class="u-post-header-link" href="blog/пост-4.html"><!--blog_post_image-->
                            <img alt="" class="u-blog-control u-expanded-width-xs u-image u-image-default u-image-2"
                                 src="images/68f64b9d.jpeg" data-image-width="567" data-image-height="696"
                                 data-animation-name="customAnimationIn" data-animation-duration="750"
                                 data-animation-delay="500"><!--/blog_post_image-->
                        </a><!--blog_post_header-->
                        <h4 class="u-blog-control u-text u-text-body-color u-text-3">
                            <a class="u-post-header-link" href="blog/пост-4.html"><!--blog_post_header_content-->
                                Продается участок<!--/blog_post_header_content--></a>
                        </h4><!--/blog_post_header--><!--blog_post_metadata-->

                        <h3 class="u-text u-text-7" data-animation-name="counter"
                            data-animation-event="scroll" data-animation-duration="1000">220000 руб.</h3>

                        <div class="u-blog-control u-metadata u-text-grey-30 u-metadata-2">
                            <!--blog_post_metadata_date-->
                            <p class="u-meta-date u-meta-icon"><!--blog_post_metadata_date_content--> 01.02.2023
                                <!--/blog_post_metadata_date_content--></p><!--/blog_post_metadata_date-->
                            <!--blog_post_metadata_comments-->
                            <span class="u-meta-comments u-meta-icon"><!--blog_post_metadata_comments_content-->
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi et facilis incidunt neque obcaecati officiis suscipit. Modi nisi rerum sed!
                                <!--/blog_post_metadata_comments_content--></span><!--/blog_post_metadata_comments-->
                        </div><!--/blog_post_metadata-->
                    </div>
                </div><!--/blog_post--><!--blog_post-->
                <div class="u-align-left u-blog-post u-container-style u-radius-15 u-repeater-item u-shape-round u-video-cover u-white u-repeater-item-3">
                    <div class="u-container-layout u-similar-container u-valign-top-sm u-valign-top-xs u-container-layout-3">
                        <a class="u-post-header-link" href="blog/пост-3.html"><!--blog_post_image-->
                            <img alt="" class="u-blog-control u-expanded-width-xs u-image u-image-default u-image-3"
                                 src="images/0fd3416c.jpeg" data-animation-name="customAnimationIn"
                                 data-animation-duration="750" data-animation-delay="500"><!--/blog_post_image-->
                        </a><!--blog_post_header-->
                        <h4 class="u-blog-control u-text u-text-body-color u-text-4">
                            <a class="u-post-header-link" href="blog/пост-3.html"><!--blog_post_header_content-->
                                Продается сарай<!--/blog_post_header_content--></a>
                        </h4><!--/blog_post_header--><!--blog_post_metadata-->

                        <h3 class="u-text u-text-7" data-animation-name="counter"
                            data-animation-event="scroll" data-animation-duration="1000">12000 руб.</h3>

                        <div class="u-blog-control u-metadata u-text-grey-30 u-metadata-3">
                            <!--blog_post_metadata_date-->
                            <p class="u-meta-date u-meta-icon"><!--blog_post_metadata_date_content-->17.02.2023
                                <!--/blog_post_metadata_date_content--></p><!--/blog_post_metadata_date-->
                            <!--blog_post_metadata_comments-->
                            <span class="u-meta-comments u-meta-icon"><!--blog_post_metadata_comments_content-->
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, commodi doloribus molestias nam rem soluta? Corporis dolore explicabo ipsam laudantium libero molestias necessitatibus voluptates voluptatum. Alias aliquam architecto autem consectetur cumque, cupiditate deserunt dolor ea ex inventore maiores maxime mollitia neque nihil, odit officia perspiciatis quis repellendus totam voluptates!

                                <!--/blog_post_metadata_comments_content--></span><!--/blog_post_metadata_comments-->
                        </div><!--/blog_post_metadata-->
                    </div>
                </div><!--/blog_post-->
            </div>
        </div><!--/blog-->
        <a href="/admin"
           class="u-active-white u-border-2 u-border-active-white u-border-hover-white u-border-white u-btn u-btn-round u-button-style u-hover-white u-none u-radius-15 u-text-active-palette-4-base u-text-body-alt-color u-text-hover-palette-4-base u-btn-1">Вход
            в личный кабинет</a>
    </div>
</section>
