<section class="u-align-center u-clearfix u-image u-section-1" id="carousel_bb64">
    <div class="u-clearfix u-sheet u-valign-bottom u-sheet-1">
        <!--        <h3 class="u-custom-font u-font-montserrat u-text u-text-default u-text-1"-->
        <!--            data-animation-name="customAnimationIn" data-animation-duration="1750" data-animation-delay="500">СНТ-->
        <!--            Загорье</h3>-->
        <!--        https://nicepage.me-->

        <a href="/admin"
           class="u-active-palette-4-light-1 u-border-none u-btn u-btn-round u-button-style u-hover-palette-4-light-1 u-palette-4-base u-radius-15 u-btn-1"
           data-animation-name="customAnimationIn" data-animation-duration="1750" data-animation-delay="500">Вход в
            личный кабинет</a>
        <img src="/images/d-min.png" alt="" class="u-image u-image-contain u-image-default u-image-1"
             data-image-width="939" data-image-height="1012">
    </div>
</section>
