<section class="u-clearfix u-section-5" id="carousel_adeb">
    <div class="u-palette-1-light-2 u-shape u-shape-rectangle u-shape-1"></div>
    <div class="u-palette-4-base u-shape u-shape-rectangle u-shape-2"></div>
    <div alt="" class="u-image u-image-circle u-image-1"></div>
    <div class="u-container-style u-group u-palette-1-base u-radius-50 u-shape-round u-group-1">
        <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-container-layout-1">
            <h2 class="u-align-center u-text u-text-body-alt-color u-text-1">Do something fun</h2>
            <p class="u-align-center u-text u-text-2">Auctor eu augue ut lectus arcu. Sit amet tellus cras adipiscing.
                Malesuada proin libero nunc consequat interdum. Urna porttitor rhoncus dolor purus non enim praesent
                elementum. </p>
            <p class="u-align-center u-text u-text-3">Image from <a href="https://freepik.com/photos/nature"
                                                                    class="u-active-none u-border-1 u-border-no-left u-border-no-right u-border-no-top u-border-white u-btn u-button-link u-button-style u-hover-none u-none u-text-body-alt-color u-btn-1">Freepik</a>
            </p>
            <a href="https://nicepage.com/k/dog-website-templates"
               class="u-active-palette-4-light-1 u-border-none u-btn u-btn-round u-button-style u-hover-palette-4-light-1 u-palette-4-base u-radius-15 u-btn-2">read
                more</a>
        </div>
    </div>
    <div class="u-container-style u-group u-group-2">
        <div class="u-container-layout u-valign-middle u-container-layout-2">
            <p class="u-text u-text-4">Vivamus arcu felis bibendum ut tristique et. Habitant morbi tristique senectus et
                netus et malesuada fames. Sapien eget mi proin sed libero enim sed. Et ultrices neque ornare aenean
                euismod elementum nisi quis eleifend.&nbsp;</p>
        </div>
    </div>
</section>
