<style>
    .footer-contacts p {
        line-height: 1.2;
    }
</style>

<footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-6c1d">
<!--    <div class="u-clearfix u-sheet u-sheet-1">-->
<!--        <p class="u-small-text u-text u-text-variant u-text-1">Sample text. Click to select the text box. Click again or-->
<!--            double click to start editing the text.</p>-->
<!--    </div>-->

    <div class="u-clearfix u-sheet u-sheet-1 footer-contacts">
<!--        <p><strong>Контакты</strong></p>-->
        <p>г. Шатура, мкр. Керва</p>
        <p>mail@sntzagorie.ru</p>
        <p>+7 (496) 457-25-60</p>
    </div>
</footer>

<section class="u-backlink u-clearfix u-grey-80">
<!--    <a class="u-link" href="https://nicepage.com/website-mockup" target="_blank">-->
<!--        <span>Website Mockup</span>-->
<!--    </a>-->
    <p class="u-text">
        <span>2023 © ТСН СНТ Загорье. Все права защищены.</span>
    </p>
<!--    <a class="u-link" href="https://nicepage.studio" target="_blank">-->
<!--        <span>Best Free Website Builder</span>-->
<!--    </a>.-->
</section>

</body>
</html>
