<head>
    <title><%title%>Главная</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link rel="stylesheet" href="/css/nicepage.css" media="screen">
    <link rel="stylesheet" href="/css/main.css" media="screen">
    <link rel="stylesheet" href="/css/style.css" media="screen">

    <script class="u-script" type="text/javascript" src="/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/js/nicepage.js" defer=""></script>

    <!--    <link id="u-theme-google-font" rel="stylesheet"-->
    <!--          href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">-->
    <!--    <link id="u-page-google-font" rel="stylesheet"-->
    <!--          href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">-->


    <script type="application/ld+json">{
            "@context": "http://schema.org",
            "@type": "organization",
            "name": "ТСН СНТ Загорье",
            "logo": "/logo-fin.png"
        }</script>
    <!--    <meta name="theme-color" content="#476160">-->
    <!--    <meta property="og:title" content="Главная">-->
    <!--    <meta property="og:type" content="website">-->
    <!--    <meta data-intl-tel-input-cdn-path="intlTelInput/">-->
</head>
