<div class="menu">
    <a href="/" class="u-image u-logo u-image-1">
        <span class="span-logo">ТСН СНТ Загорье</span>
        <!--            <img src="/logo-fin.png" class="u-logo-image u-logo-image-1" style="width: 100px; height: auto">-->
    </a>

    <a href="bulletin-board" class="u-image u-logo u-image-1"><span class="menu-span">Доска объявлений</span></a>

    <a href="contacts" class="u-image u-logo u-image-1"><span class="menu-span">Контакты</span></a>

    <a href="user/index" class="u-image u-logo u-image-1"><span class="menu-span">Личный кабинет</span></a>
</div>
