<div class="b-page">
    <div class="container b-page__container">
        <div class="row">
            <div class="col-lg-12 page-content">
                <div class="page-block">
                    <div class="page-block__items mb-1" style="padding: 20px">
                        <h1>Контакты</h1>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



